body{
background-color: black;
}
#btn{
    background-color: rgb(49, 49, 49);
 padding: 15px 35px 15px 35px;
 width: 25%;
 text-align: center;
 color: white;
 font-size: 50px;
 border-radius: 50px;
 font-family: "Ancizar Sans";
 position: absolute;
 left: 35px;
 transition: backround-color 0.5 ease;
}
#btn:hover{
    width: 25%;
    background-color: white;
    color: rgb(49, 49, 49); ;
}
#fm{
    color: white;
    font-family: "Ancizar Sans";
    font-size: 35px;
    padding: 20% 25% 0 25%;
    text-align: center;
}
#na{
     color: white;
    font-family: "Ancizar Sans";
    font-size: 35px; 
    text-align: center;
}